{% extends 'base.html' %}

{% block content %}
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
        <li class="me-2">
            <a href="#" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Articles</a>
        </li>
        {% if invite_tokens is not None %}
        <li class="me-2">
            <a href="admin" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Admin</a>
        </li>
        {% else %}
        <li class="me-2">
            <a onclick="leaveGroup({{ group.id }})" aria-current="page" class="inline-block p-4 text-white bg-red-600 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Leave group</a>
        </li>
        {% endif %}
    </ul>
    <div class="flex flex-wrap justify-start">
    {% for article in articles %}
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-8">
        <a href="#">
            <img class="rounded-t-lg" src="/{{ article.picture }}" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ article.name }}</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ article.description }}</p>
            <a href="{% url 'article_detail' article_id=article.id group_id=group.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
    <script>
        function leaveGroup(id) {
            {% if invite_tokens is not None %}
            outcome = confirm("Leaving the group means deleting {{ group.name }}. Do you really want to proceed?")
            {% else %}
            outcome = confirm("Do you really want to leave the group {{ group.name }}?")
            if(outcome) {
                window.location = '/leave-group/' + {{group.id}} + "/"
            }
            {% endif %}
        }
    </script>
    <h1>{{ group.name }}</h1>
{% endblock %}